



 <%= form_for (@stream) do |stream| %>
 <% if @stream.errors.any? %>
	<div id="error_explanation">
	<h2><%= pluralize(@stream.errors.count, "error") %> prohibited
		this post from being saved:</h2>
	<u1>
	<% @stream.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</u1>
	</div>
<% end %>
	<p> 
		<%= stream.label :source %><br>
		<%= stream.text_field :source %>
	</p>
	
	<p>
		<%= stream.label :streamuri %><br>
		<%= stream.text_field :streamuri %>
	</p>
	<p>
		<%= stream.label :stream_api_url %><br>
		<%= stream.text_field :stream_api_url %>
	</p>
	<p>
		<%= stream.label :text_to_scrap %><br>
		<%= stream.text_field :text_to_scrap %>
	</p>
	<p>
		<%= stream.label :toggle_live %><br>
		<%= stream.check_box :toggle_live %>
	</p>
	<p>
		<%= stream.submit %>
	</p>
<% end %>
