<script>
$(function() {
<% Stream.all.each do |stream| %>
  $("#<%= stream.source %>-tab").click(function(){
    $("#video-player").html("<div class='video-player'><iframe  src='<%= stream.streamuri %>' frameborder='0' allowfullscreen></iframe></div>")
    $document.getElementById(/([A-z])\w+-/+"tab").className="";
    $document.getElementById("<%= stream.source %>-tab").className="Active";
    return false;
  });
<% end %>
});
</script>


<div id="tabs" class="video-tabs">
  <ul id ="video-choices" class="nav nav-tabs" >
<% Stream.all.each do |stream| %>
    <li id="<%= stream.source %>-tab" class=""><a data-toggle="tab" href="#<%= stream.source %>"> <%= stream.source %> <%= pause_or_play(stream.source) %> </a></li>
<% end %>
  </ul> 
</div>
<div class="video-player-container">
  <div id="video-player" class="tab-pane fade in">
    <div class="video-player"><iframe width="560" height="315" src="http://tv.majorleaguegaming.com/player/embed/schamtoo" frameborder="0" allowfullscreen></iframe></div>
  </div>
</div>
<!--  -->