<head>
<%= favicon_link_tag 'favicon.ico' %>
<title>Schamtoo Commentator & Streamer</title>
</head>

<div class="header-container">
	<h1 class="header-title">Schamtoo</h1>
</div>

<h2 class="header-subtitle">
	Commentator & Streamer
</h2>
<div class="video_block">
<%= render 'streams/tabsofstreams' %>
</div>

<div class="blog_block">
	<h1 class="blog_header">Blog</h1>
	<div class="blog_posts_block">
	<%  @posts.each do |post| %>
		<td> 
			<div class="blog_post_title"> <%= link_to post.title, post %></div>
			<div class="post_date"> <%=post.created_at %></div>
			<div class="post_blurb"> <%=post.blurb %> </div>
		</td>
	<% end %>
	</div>

</div>

<%= render 'contactme_footer' %>