<head>
<%= favicon_link_tag 'favicon.ico' %>
<title>Schamtoo Commentator & Streamer</title>
</head>

<div class="header-container">
	<h1 class="header-title">Schamtoo</h1>
</div>

<h2 class="header-subtitle">
	Commentator & Streamer
</h2>
<div class="video_block">
<%= render 'streams/tabsofstreams' %>
</div>

<div class="blog_block">
	<h2 class="blog_header">Blog</h2>
	<%  @posts.each do |post| %>
		<td> 
			<div class="post_title"> <%= link_to post.title, post %></div>
			<div class="post_date"> <%=post.created_at %></div>
			<div class="post_blurb"> <%=post.blurb %> </div>
		</td>
	<% end %>


</div>

<div class="resume_block">
	<%= link_to("resume")  do %>
		<h3 class= "resume_column_left"> Resumé</h3>
	<% end %>
	<div class="resume_column_right">
		<%= link_to image_tag( "twitter-64.ico", :size => "20x20" ), "http://twitter.com/schamtoo", :target => "_blank" %>
		<%= link_to image_tag( "youtube-64.ico", :size => "20x20"), "http://youtube.com/schamtoo", :target => "_blank" %>
		<%= link_to image_tag( "facebook-64.ico", :size => "20x20"), "http://www.facebook.com/Kevin-SchAmToo-Pearson-225935654204092/", :target => "_blank" %>
		<%= link_to image_tag( "github-6-64.ico",:size => "20x20" ), "http://github.com/schamtoo", :target => "_blank" %>
	</div>
</div>