<head>
<%= favicon_link_tag 'favicon.ico' %>
<title>Schamtoo Commentator & Streamer</title>
</head>

<div class="header-container">
	<h1 class="header-title">Schamtoo</h1>
</div>

<h2 class="header-subtitle">
	Commentator & Streamer
</h2>
<div class="video_block">
<%= render 'streams/tabsofstreams' %>
</div>

<div class="blog_block">
	<h1 class="blog_header">Blog</h1>
	<tr>
	<%  @posts.each do |post| %>
	
		<div class="blog_post_block">
			<td> 
				<div class="blog_post_title"> <%= link_to post.title, post.remote_url %></div>
				<div class="blog_post_date"> <%=post.created_at %></div>
				<div class="blog_post_blurb"> <%=post.blurb %> </div>
			</td>
		</div>
	<% end %>
	</tr>

</div>

<%= render 'contactme_footer' %>