

<%= render "sessions/session" %>
<% if current_user?(User.find_by_login("Schamtoo")) %>

	 <%= form_for :post, url: posts_path do |f| %>
	 <% if @post.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@post.errors.count, "error") %> prohibited
			this post from being saved:</h2>
		<u1>
		<% @post.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</u1>
		</div>
		<% end %>
		<p> 
			<%= f.label :title %><br>
			<%= f.text_field :title %>
		</p>
		
		<p>
			<%= f.label :text %><br>
			<%= f.text_field :text %>
		</p>
		<p>
			<%= f.label :remote_url %><br>
			<%= f.text_field :remote_url %>
		</p>
		<p>
			<%= f.label :blurb %><br>
			<%= f.text_field :blurb %>
		</p>
		
		<p>
			<%= f.submit %>
		</p>
	<% end %>
<% end %>